body {
    background-color: rgb(253, 251, 251);
}

* {
    padding: 0px;
    margin: 0px;
}

#cabecalho {
    position: fixed;
    background-color: #bb7af8;
    width: 100%;
    height: max-content;
}

#titulo {
    font-size: 48px;
    margin-left: 30px;
}

#minha_foto {
    width: 250px;
    margin-top: 100px;
    margin-left: 30px;
    border: 6px dashed #bb7af8;
}

#licoes_aprendidas {
    padding: 50px;
    margin-left: 70px;
}
