body {
  background-color: rgb(253, 251, 251);
}

* {
  padding: 0;
  margin: 0;
}

#cabecalho {
  position: fixed;
  background-color: rgb(187, 122, 248);
  width: 100%;
  height: max-content;
}

nav {
  float: right;
}

.sem-bullets {
  list-style-type: none; /* Pesquisei o estilo da lista na W3Schools. */
}

#rodape {
  bottom: 0;
  padding-top: 30px;
}

#titulo {
  font-size: 48px;
  margin-left: 30px;
  position: absolute;
}

#minha_foto {
  width: 250px;
  margin-top: 100px;
  margin-left: 30px;
  border: 6px dashed rgb(187, 122, 248);
}

#licoes_aprendidas {
  padding: 50px;
  display: inline-block;
}

#licoes_a_aprender {
  padding: 50px;
  margin-left: 60px;
  display: inline-block;
}

.links {
  margin-left: 60px;
  padding: 10px;
  padding-bottom: 50px;
}

article {
  max-width: fit-content;
  margin-left: 60px;
  margin-right: 30%;
  padding: 20px;
  border: 5px solid rgb(187, 122, 248);
  display: inline-block;
}

aside {
  max-width: fit-content;
  margin-right: 15px;
  margin-left: 80%;
  padding: 15px;
  border: 5px solid hsl(187, 100%, 82%);
  display: inline-block;
}

/* Para selecionar apenas a tag imagem na classe img-linkedin
a Carol Silva me mostrou que precisa colocar um ponto entre os dois.
Contudo o StyleLint estava dando erro, então o Caio Swae e o site StyleLint
(https://stylelint.io/user-guide/rules/list/selector-no-qualifying-type/)
falaram que precisa deixar apenas a classe (e não combinar os dois,
aparentemente porque não é uma boa prática/porque só há uma tag dentro da classe.  */

.img-linkedin {
  width: 40px;
  height: 40px;
}
